/*RESET USTAWIEŃ PRZEGLĄDARKI*/

@import url(reset.css);

/*Sciagniete z w3schools
*/fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove ;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}



/*OGÓLNE*/

/*Dla całego dokumentu*/
body {									
	font-size: 62.5%;
	font-family: 'Playfair Display', serif;
	background-color: #B2C2C0;

} 

/*nagłówek*/
header {
	background: #FFDD39;
	height: 120px;
}
 #top {
 	position: absolute;
	right: 2%;
	top:3%;

}
.oko {
	width: 30px;
	height: 30px;
}

header p {
	font-size: 0.9rem;
}

/*logo sleepStop*/
#logo {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #B23A34;
	font-size:60px;
	padding: 1%;
	font-weight: bold;
	text-align: left;
	text-shadow: 2px 2px #901F23;
}
 /*klasy kolorów czcionki*/
.grey {color: #424242}
.white {color: #ffffff}

/*parametry czcionki*/
h1 {font-size: 2rem;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 0%;
}

h2 { font-size: 1.5rem;
	text-align: center;
}

span {font-size: 3rem}

p {  font-size: 1.2rem; 
	line-height: 1.55;
}

li { font-size: 1.3rem;
	display: inline;
	padding-left: 2%;	
	padding-right: 1%;
	color: #424242;
	font-weight: bold;

}

nav {
	width: 100%;
	list-style: none;
	text-align: right; 
}

#bold {
	font-weight: bold;
	font-size: 1.2rem;

}
/*dotyczace zdjecia*/
.foto {
	background-color: #B2C2C0;
	
	background-repeat: no-repeat;
	height: 530px;
	width: 55%;
	float: left;
	padding-top: 2%;
	border-radius: 50px; 
	margin-top: 3%;
	margin-bottom: 4%;
	margin-left: 2%;
}
.nexttofoto {

	background-color: #B2C2C0;
	height: 530px;
	width: 32%;
	float: right;
	padding-top: 2%;
	margin-top: 1%;
	margin-right: 2%;
}

#how {
	text-align: center;
	padding-top: 5%;
}
/*stopka*/
footer p {font-size: 1.1rem;
		background-color: #B23A34;
		text-align: center;
		padding: 1%;
		/*clear: both;*/

}

footer {
/*	clear: both;*/
	
	/*position: fixed;*/
/*	height: 70px;*/
	background: #B23A34;
	/*bottom: 0;*/
	width: 100%;
}



/*hiperłacza w nawigacji*/
a {
	text-decoration: none;

}

a:active {
	text-decoration: underline;
}

/*PODSTRONA "GŁÓWNA"*/



#foto1 {
	background-image: url("../images/fota.jpg");
}


/*PODSTRONA "ZAREJESTRUJ SIĘ"*/

#foto2 {
	background-image: url("../images/fota1.jpg");

}

.nexttofoto h2 {
	text-align: left;
	margin-bottom: 5%;

}

#term {
	font-size: 0.7rem;
}
.windoww {
	position: absolute;
	left: 80%;

}

#obligatory {
	font-size: 0.7rem;
	text-align: right;
	padding-right: 3%;

}
#info {
	color: #B23A34;
	font-weight: bold;
}
/*Podstrona zaloguj*/
#foto3 {
	background-image: url("../images/fota2.jpg");

}
#log {
	margin-top:5%;
}

.window
 {
	position: absolute;
	left: 73%;
}

/*Podstrona szukaj*/
.room {
	width: 254px;
	float: left;
	height: 300px;
	background-color: #FFEA85;
	margin: 15px;
	margin-top: 20px;
	box-sizing: border-box;
	border: solid 2px grey;

}

#rooms {
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
	font-size: 20px;
}
/*podstrona nowe łozko*/
#foto4 {
	background-image: url("../images/fota4.jpg");

}


/*responsywnośći*/

@media screen and (min-width: 802px) and (max-width: 1040px) {
	.foto {
		text-align: center;
		width: 35%;
	}
	.nexttofoto {
		
		width: 460px;
	}
	.windoww {
		left: 70%;
	}

	.window {
		left: 61%;
	}
	#top {
		visibility: hidden;
	}

}

@media screen and (min-width: 501px) and (max-width: 801px){
	
	header {
		height: 130px;
	}
	.foto {
		text-align: center;
		width: 100%;
	}
	.nexttofoto {
		
		width: 480px;
		float:left;
		

	}
	#login {
		height: 400px;
	}
	.window {
		left: 14%;
	}
	.windoww {
		left: 30%;
	}

	#rooms {
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 60px;
    }
    #top {
		visibility: hidden;
	}

	li {
		font-size: 1.2rem;
	}
	#logo {
		padding-bottom: 20px;

	}
}




@media screen and (min-width: 321px) and (max-width: 500px){

	header {
		height: 200px;
	}
	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 23%;
		width: 140px;
	}

	.windoww {
		left: 45%;
		width: 90px;
	}

	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 100%;
	}
	#top {
		visibility: hidden;
	}

	li {
		display: block;
	}

	ul.grey {
		line-height: 23px;
	}
	#logo {
		padding-bottom: 20px;

	}

	h2, h1  {
		padding: 20px;
		
	}
	.room {
		margin: 30px;
	}

}


@media (max-width: 320px){

	header {
		height: 200px;
	}
	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 50%;
		width: 90px;
	}

	.windoww {
		left: 50%;
		width: 90px;
	}

	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 80%;
	}
	#top {
		visibility: hidden;
	}

	ul.grey {
		line-height: 23px;
	}

	h2, h1  {
		padding: 20px;
		
	}

	.room {
		margin: 5px;
	}

	#logo {
		padding-bottom: 20px;

	}

	li {
		display: block;
	}

	#info {
		font-size: 1rem;
	}
}

/*stopka na dole strony*/


html, body {
height: 100%;
}
.container {
min-height: 80%;
height: auto !important;
height: 90%;
margin: 0 auto -0px; 
}

footer, .push {
height: 10%;
}

.push {
	clear: both;
}