/*RESET USTAWIEŃ PRZEGLĄDARKI*/

@import url(reset.css);

/*Sciagniete z w3schools
*/fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove ;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}



/*OGÓLNE*/

/*Dla całego dokumentu*/
body {									
	font-size: 62.5%;
	font-family: 'Playfair Display', serif;
	background-color: yellow;

} 

/*nagłówek*/
header {
	background: black;
	height: 120px;
}

 #top {
 	position: absolute;
	right: 2%;
	top:3%;


 }
 .grey {
 	color: yellow;
 }

/*logo sleepStop*/
#logo {
	font-family: 'Love Ya Like A Sister', cursive;
	color: yellow;
	font-size:60px;
	padding: 1%;
	font-weight: bold;
	text-align: left;
}


/*parametry czcionki*/
h1 {font-size: 2rem;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 3%;

}

h2 { font-size: 1.5rem;
	text-align: center;
}
hgroup {
	color: yellow !important;
	background-color: black;
}
span {font-size: 3rem}

p {  font-size: 1.2rem; 
	line-height: 1.55;
}

li { font-size: 1.3rem;
	display: inline;
	padding-left: 2%;	
	padding-right: 1%;
	color: yellow !important ;
}

nav {
	width: 100%;
	list-style: none;
	text-align: right; 
}


#how {
	background-color: yellow;
	text-align: center;
	height: 550px;
	padding: 2%;
	padding-top: 3%;
	color: black;
}

#bold {
	font-weight: bold;
	font-size: 1.2rem;

}
/*dotyczace zdjecia*/
.foto {
	background-color: yellow;
	
	background-repeat: no-repeat;
	height: 530px;
	width: 60%;
	float: left;
	padding-top: 2%;
	border-radius: 50px; 
	margin-top: 3%;
	margin-bottom: 4%;
}
.nexttofoto {

	background-color: yellow;
	height: 530px;
	width: 32%;
	float: right;
	padding-top: 2%;
	margin-top: 1%;
	margin-bottom: 4%;
}

/*stopka*/
footer p {font-size: 1.1rem;
		background-color: black;
		text-align: center;
		padding: 1%;
		clear: both;
		color: yellow;

}

footer {
	clear: both;
	
}

/*hiperłacza w nawigacji*/
a {
	text-decoration: none;
	color:yellow;

}

a:active {
	text-decoration: underline;
	color: yellow;
}

/*PODSTRONA "GŁÓWNA"*/



#foto1 {
	background-image: url("../images/fota.jpg");
}


/*PODSTRONA "ZAREJESTRUJ SIĘ"*/

#foto2 {
	background-image: url("../images/fota1.jpg");

}

.nexttofoto h2 {
	text-align: left;
	margin-bottom: 5%;

}

#term {
	font-size: 0.7rem;
}
.window {
	position: absolute;
	left: 83%;
	background-color: black;
	color:yellow;

}
#obligatory {
	font-size: 0.7rem;
	text-align: right;
	padding-right: 3%;

}

/*Podstrona zaloguj*/
#foto3 {
	background-image: url("../images/fota2.jpg");

}
#log {
	margin-top:5%;
}
/*Podstrona szukaj*/
.room {
	width: 254px !important;
	float: left;
	height: 300px !important;
	background-color: #FFEA85;
	margin: 15px;
	margin-top: 20px;
	box-sizing: border-box;
	border: solid 2px grey;

}
#rooms {
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 60px;
}
/*podstrona nowe łozko*/
#foto4 {
	background-image: url("../images/fota4.jpg");

}

/*responsywnośći*/

@media screen and (min-width: 802px) and (max-width: 1040px) {
	.foto {
		text-align: center;
		width: 35%;
	}
	.nexttofoto {
		
		width: 480px;
	}
	.window {
		left: 70%;
	}

}

@media screen and (min-width: 501px) and (max-width: 801px){
	.foto {
		text-align: center;
		width: 100%;
	}
	.nexttofoto {
		
		width: 480px;
		float:left;
		

	}
	#login {
		height: 200px;
	}
	.window {
		left: 40%;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 60px;
    }
	
}



@media screen and (min-width: 321px) and (max-width: 500px){

	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 50%;
		width: 100px;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 100%;
	}
}


@media (max-width: 320px){

	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 50%;
		width: 90px;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 80%;
	}
}

/*
stopka na dole strony
*/

html, body {
height: 100%;
}
.container {
min-height: 85.5%;
height: auto !important;
height: 85.5%;
margin: 0 auto -70px; 
}
footer, .push {
height: 70px;
}
.push {
	clear: both;
}