/*RESET USTAWIEŃ PRZEGLĄDARKI*/

@import url(reset.css);

/*Sciagniete z w3schools
*/fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove ;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}



/*OGÓLNE*/

/*Dla całego dokumentu*/
body {									
	font-size: 62.5%;
	font-family: 'Playfair Display', serif;
	background-color: #B2C2C0;

} 

/*nagłówek*/
header {
	background: #FFDD39;
	height: 130px;
}
 #top {
 	position: absolute;
	right: 2%;
	top:3%;
}

/*logo sleepStop*/
#logo {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #B23A34;
	font-size:60px;
	padding: 1%;
	font-weight: bold;
	text-align: left;
}
 /*klasy kolorów czcionki*/
.grey {color: #5E5E5E}
.white {color: #ffffff}

/*parametry czcionki*/
h1 {font-size: 3rem;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 3%;
}

h2 { font-size: 2rem;
	text-align: center;
}

span {font-size: 4rem}

p {  font-size: 1.5rem; 
	line-height: 1.55;
}

li { font-size: 2rem;
	display: inline;
	padding-left: 2%;	
	padding-right: 1%
}

nav {
	width: 100%;
	list-style: none;
	text-align: right; 
}

/*
#how {
	background-color: #B2C2C0;
	text-align: center;
	height: 550px;
	padding: 2%;
	padding-top: 3%;
}*/

#bold {
	font-weight: bold;
	font-size: 1.5rem;

}
/*dotyczace zdjecia*/
.foto {
	background-color: #B2C2C0;
	
	background-repeat: no-repeat;
	height: 530px;
	width: 60%;
	float: left;
	padding-top: 2%;
	border-radius: 50px; 
	margin-top: 3%;
	margin-bottom: 4%;
}
.nexttofoto {

	background-color: #B2C2C0;
	height: 700px;
	width: 32%;
	float: right;
	padding-top: 2%;
	margin-top: 1%;
	margin-bottom: 4%;
	margin-right: 2;
}

/*stopka*/
footer p {font-size: 1.1rem;
		background-color: #B23A34;
		text-align: center;
		padding: 1%;
		/*clear: both;*/

}

footer {
/*	clear: both;*/
	
	/*position: fixed;*/
/*	height: 70px;*/
	background: #B23A34;
	/*bottom: 0;*/
	width: 100%;
}


}

/*hiperłacza w nawigacji*/
a {
	text-decoration: none;

}

a:active {
	text-decoration: underline;
}

/*PODSTRONA "GŁÓWNA"*/



#foto1 {
	background-image: url("../images/fota.jpg");
}


/*PODSTRONA "ZAREJESTRUJ SIĘ"*/

#foto2 {
	background-image: url("../images/fota1.jpg");

}

.nexttofoto h2 {
	text-align: left;
	margin-bottom: 5%;

}

#term {
	font-size: 0.9rem;
}
.window {
	position: absolute;
	left: 83%;

}
#obligatory {
	font-size: 0.9rem;
	text-align: right;
	padding-right: 3%;

}

/*Podstrona zaloguj*/
#foto3 {
	background-image: url("../images/fota2.jpg");

}
#log {
	margin-top:5%;
}
/*Podstrona szukaj*/
.room {
	width: 254px;
	float: left;
	height: 300px;
	background-color: #FFEA85;
	margin: 15px;
	margin-top: 20px;
	box-sizing: border-box;
	border: solid 2px grey;

}
#rooms {
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 60px;
}
/*podstrona nowe łozko*/
#foto4 {
	background-image: url("../images/fota4.jpg");

}

/*responsywnośći*/

@media screen and (min-width: 802px) and (max-width: 1040px) {


	.foto {
		text-align: center;
		width: 35%;
	}
	.nexttofoto {
		
		width: 480px;
	}
	.window {
		left: 70%;
	}
	#top {
		display: none;
	}

}

@media screen and (min-width: 501px) and (max-width: 801px){
	.foto {
		text-align: center;
		width: 100%;
	}
	.nexttofoto {
		
		width: 480px;
		float:left;
		

	}
	#login {
		height: 400px;
	}
	.window {
		left: 40%;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 60px;
    }
	
}



@media screen and (min-width: 321px) and (max-width: 500px){

	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 50%;
		width: 100px;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 100%;
	}
}


@media (max-width: 320px){

	.foto {
		display: none;
	}
	.nexttofoto{
		float: left;
		width: 300px;
	}
	.window{
		left: 50%;
		width: 90px;
	}
	#rooms {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
	fieldset {
		width: 80%;
	}
}

/*
stopka na dole strony
*/
/*
html, body {
height: 100%;
}
.container {
min-height: 80.5%;
height: auto !important;
height: 80.5%;
margin: 0 auto -0px; 
}
footer, .push {
height: 70px;
}
.push {
	clear: both;
}*/